
.card{
  display:flex;
  flex-direction:column;
  max-width: 600px;
  margin:0 auto;
  width: 100%;
  font-family: sans-serif;

  
  
}
input{
  margin:5px 0;
  height:45px;
  border:0;
  border-radius:4px;
  padding:15px 10px;
  box-sizing: border-box;
  outline: 0;
}
.content{
font-family: sans-serif;
display: flex;
justify-content: center;

align-items: center;
margin: 34px auto;
}